<div class="details">
    <h3>Enter Your Details</h3>

    <form>
        <input type="text" class="form-control" placeholder="enter first name">
        <input type="text" class="form-control" placeholder="enter last name">
        <input type="tel" class="form-control" placeholder="enter mobile number">
        <input type="email" class="form-control" placeholder="enter your email">
        <textarea type="text" class="form-control" placeholder="enter your address"></textarea>

    </form>
    <button class="btn btn-md btn-dark mt-3">Submit</button>
   
</div>
